BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "U16";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "K18";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "J17";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "H18";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

LOCATE COMP    "spi_clk" SITE "F3";
IOBUF PORT     "spi_clk" IO_TYPE=LVCMOS33;
LOCATE COMP    "spi_cs_n" SITE "H3";
IOBUF PORT     "spi_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP    "spi_miso" SITE "H4";
IOBUF PORT     "spi_miso" IO_TYPE=LVCMOS33;
LOCATE COMP    "spi_mosi" SITE "G3";
IOBUF PORT     "spi_mosi" IO_TYPE=LVCMOS33;
